header.container{
  margin-bottom: 20px;
}

input[type="text"]:not(#input_cep){
  display: inline-block;
  width: 25px;
  font-size: 15px;
}

.clearfix:after,
.clearfix:before {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
  color: transparent;
}

#titulo_carrinho {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  margin: 10px 0 16px;
  text-transform: uppercase;
}

#carrinho {
  list-style: none;
  margin: 20px;
  clear: both;
}

#carrinho li {
  border-top: 1px dotted #CCC;
  padding: 15px;
}

#carrinho li:last-child {
  border-bottom: 1px dotted #CCC;
}

#carrinho li img {
  float: left;
  margin-right: 15px;
}

#carrinho li h3 {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 12px;
  text-transform: uppercase;
}

#carrinho .item_info {
  float: left;
  margin-right: 120px;
}

#carrinho a:link,
#carrinho a:visited {
  font-size: 10px;
  margin-left: 50px;
}

#carrinho li > p {
  color: rgb(51,102,204);
  font-size: 20px;
  margin-top: 25px;
}

button {
  margin: 4px;
  color: black;
  font-weight: normal;
  font-size: .8em;
  text-transform: uppercase;
    border: 1px #AAA solid;
    padding: 4px 10px;
}

.formataBotaoAviso {
    float:right;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.formataBotaoAviso:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.formataBotaoAviso:active {
	position:relative;
	top:1px;
}

.hide {
    display: none;
}

.invisivel {display:none;}

#total_carrinho {
  background-color: rgb(220,220,220);
}

#principal h2, #principal div:first-child {
  margin-top: 25px;
}

#consulta_frete {
  background: rgb(220,220,220);
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
}

#consulta_frete h3 {
  margin-bottom: 12px;
}

.resultado_cep,
#consulta_cep {
  display: inline;
}

.resultado_cep {
  color: rgb(0,51,102);
  font-weight: bold;
  margin-right: 20px;
  position: absolute;
  right: 0;
}

#carrinho li a{
  outline: none;
  text-decoration: none;
}

.dialogo{
  color: #333333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.invisivel{
  display: none;
}
#recomendacoes {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#recomendacoes ul li{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: gray;

}
#recomendacoes img{
  display: inline-block;
  width: 55%;
  height: 55%;
}

#recomendacoes h3{
  padding: 0 0 0 40px;
  font-size: 22px;
  margin-bottom: 20px;
}

/* Adicionado e removido durante requisição Ajax*/
.ajaxstatus {
  display: inline-block;
  background:  url(../img/ajaxstatus.gif) no-repeat top left;
}

.aviso{
  position: relative;
}
.aviso ul, #botaoaviso{
  float: right;
  clear: both;
}

.aviso ul li{
  font-size: 14px;
}

#botaoaviso {
  margin-bottom: 1em;
    
}

.aviso ul{
  padding: 30px 15px 15px 35px;
  background-color: #DBD7D8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 100px;
}

li a > img{
  width: 10%;
  height: 10%;
}

div > a:first-child{
  display: inline-block;
  padding-bottom: 15px;
}

.aviso-recomendacao {
 color: red;
 font-size: 2em;
 text-shadow: 5px 5px 10px grey;
 text-decoration: none;
}
